# Please insert new items alphabetically.

find-and-view-tech:
  channel:
    "#find-and-view-tech"
  members:
    - "1pretz1"
    - AgaDufrat
    - andyhd
    - "chao-xian"
    - "chris-gds"
    - edwardkerry
    - hannako
    - hannalaakso
    - "jon-kirwan"
    - "KludgeKML"
    - kashifatcha
    - martinjjones
    - matthillco
    - maxgds
    - patrickpatrickpatrick
    - Tetrino
  compact: true
  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
  quotes:
    - "Be Excellent To Each Other!"
    - ":smiling-batman:"
    - "Don't be working if you're ill!"
    - ":green_heart:"

fun-workstream-test-channel:
  channel:
    "#sealtesting"
  quotes:
    - "[It’s ok](https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to) to feel the way you feel."
    - "[It’s ok](https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to) to talk about how you're feeling"
    - "[It’s ok](https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to) to ask for feedback"

fun-workstream-gds-community:
  channel:
    "#gds-community"
  quotes:
    - "It’s ok to feel the way you feel"
    - "It’s ok to talk about how you're feeling"
    - "It’s ok to ask for feedback"
    - "It’s ok to have days off"
    - "It’s ok to have off days"
    - "It’s ok to go outside during work"
    - "It’s ok to switch off at the end of the day"
    - "It’s ok to not constantly check chat and emails"
    - "It’s ok to have screen breaks"
    - "It’s ok to say you're not comfortable with something"
    - "It’s ok to raise your concerns"
    - "It’s ok to be you"
    - "It’s ok to change your mind"
    - "It’s ok to say no"
    - "It’s ok to have other things going on"
    - "It’s ok to forget things"
    - "It’s ok to have a meeting"
    - "It’s ok to not have a meeting"
    - "It’s ok to turn off notifications"
    - "It’s ok to block time out to think and reflect"
    - "It’s ok to approach tasks your own way"
    - "It’s ok to work flexibly"
    - "It’s ok to turn your camera off"
    - "It’s ok to take time off if you're not well"
    - "It’s ok to make mistakes"
    - "It’s ok to say you don't understand"
    - "It’s ok to ask for help"
    - "It’s ok to put yourself first"
    - "It’s ok to love what you do"


fun-workstream-govuk:
  channel:
    "#govuk"
  quotes:
    - "It’s ok to feel the way you feel"
    - "It’s ok to talk about how you're feeling"
    - "It’s ok to ask for feedback"
    - "It’s ok to have days off"
    - "It’s ok to have off days"
    - "It’s ok to go outside during work"
    - "It’s ok to switch off at the end of the day"
    - "It’s ok to not constantly check chat and emails"
    - "It’s ok to have screen breaks"
    - "It’s ok to say you're not comfortable with something"
    - "It’s ok to raise your concerns"
    - "It’s ok to be you"
    - "It’s ok to change your mind"
    - "It’s ok to say no"
    - "It’s ok to have other things going on"
    - "It’s ok to forget things"
    - "It’s ok to have a meeting"
    - "It’s ok to not have a meeting"
    - "It’s ok to turn off notifications"
    - "It’s ok to block time out to think and reflect"
    - "It’s ok to approach tasks your own way"
    - "It’s ok to work flexibly"
    - "It’s ok to turn your camera off"
    - "It’s ok to take time off if you're not well"
    - "It’s ok to make mistakes"
    - "It’s ok to say you don't understand"
    - "It’s ok to ask for help"
    - "It’s ok to put yourself first"
    - "It’s ok to love what you do"

govuk-accounts:
  channel:
    "#govuk-accounts"

  quotes:
    - "We put users first. We strive to create services that bring real value to our users and that meet their needs and expectations."
    - "We believe users should feel safe and confident when they use our services."
    - "We design for everyone. We think about under-represented audiences from the start and check our biases throughout the design process."
    - "We’re comfortable challenging assumptions and asking difficult questions. We speak truth to power."
    - "We’re OK with change, failure, ambiguity, and adapting our approach."
    - "We work collaboratively. Our work does not happen in discipline silos and we value the contributions of every discipline equally."
    - "We treat each other with integrity, honesty and respect."
    - "We work in the open so users and government colleagues know what we’re doing and why."
    - "We know we can't do this alone. We need to work with teams across GDS and government to succeed."
    - "We invest time and effort in increasing our understanding of the problems we’re working on. This will help us make things better for users and move the conversation about personalisation in government forward."

govuk-accounts-tech:
  members:
    - alex9smith
    - danacotoran
    - huwd

  channel:
    "#govuk-accounts-tech"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

govuk-data-labs:
  members:
    - ESKYoung
    - exfalsoquodlibet
    - mammykins
    - maxf
    - nacnudus
    - "st-alice"
    - ZacharyForrest
    - zilnhoj

  channel:
    "#govuk-data-labs"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

  use_labels: true

  exclude_labels:
    - "wip"
    - "WIP"
    - "ignore"

  quotes:
    - "Be Excellent To Each Other!"
    - ":smiling-batman:"
    - "Don't be working if you're ill!"
    - ":green_heart:"
    - "Remember to take into consideration that our colleagues may be having a hard time outside of work. Support them at a team and individual level."
    - "Remember to avoid talking over each other during meetings, and be mindful of colleagues who wish to speak but have yet to do so."
    - "Understand the diverse character types within our team and appreciate that some of us may prefer a description of a meeting in advance to allow time to prepare."
    - "Keep conversations inclusive to the audience, ensuring that technical detail is fairly high level where possible."
    - "Be mindful of the workload of others even if it does not impact yours directly."
    - "Clarify the importance of attendance in certain meetings, outlining the purpose/objective, and where appropriate an agenda that helps us get to said outcome."
    - "Give informal and continuous feedback especially if the feedback includes encouragement."
    - "We're not 'working from home', we are _'working at home during a crisis_', so we need to take the time that we need during a working day."


govuk-datagovuk:
  members:
    - kentsanggds

  channel:
    "#govuk-datagovuk"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

govuk-platform-reliability:
  members:
    - catalinailie
    - ChrisBAshton
    - deborahchua
    - MahmudH
    - MuriloDalRi
    - PeterHattyar
    - nicholsj
    - rtrinque
    - sihugh

  channel:
    "#govuk-platform-reliability-team"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "WIP"

  quotes:
    - Be ready and willing to pair on work
    - Slack as primary point of contact; email for things you want to remember
    - Assume everyone is trying to do the right thing
    - Look out for each other
    - Make sure every meeting has a purpose and objective and explains who is required
    - Keep stand up updates as short as possible
    - Make sure anyone who wants to be involved in a decision has the opportunity to be
    - Try with each bit of work to upskill others
    - It's okay to spend some time understanding the thing(s) before implementing the solution
    - It's OK to pick up and work on something you don't understand yet

  compact: true

govuk-pay:
  members:
    - AbdirizakIdris
    - alanmaddrell
    - alan-gds
    - alexbishop1
    - antoniasimmons
    - heathd
    - iqbalgds
    - jabrahoarder
    - jfharden
    - "jonny-walkley"
    - katstevens
    - kaydale
    - kbottla
    - miriamalice
    - nlsteers
    - niaaudrina
    - oswaldquek
    - richblake
    - SandorArpa
    - sfount
    - stephencdaly
    - "xander-gds"
    - sjzarb

  channel:
    "#govuk-pay-tech"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[DRAFT]"
    - WIP

govuk-publishing-experience:
  members:
    - baisa
    - beccapearce
    - benjamineskola
    - davidgisbey
    - davidtrussler
    - DilwoarH
    - jyoung-gds
    - ollietreend

  channel:
    "#govuk-publishing-experience-tech"

  exclude_title:
    - "[DO NOT MERGE]"
    - "WIP"
    - "[WIP]"

  compact: true

govuk-publishing-platform:
  members:
    - BeckaL
    - brucebolt
    - callumknights
    - JonathanHallam
  channel:
    "#govuk-publishing-platform"

  exclude_title:
    - "[DO NOT MERGE]"
    - "WIP"
    - "[WIP]"

  compact: true

govuk-replatforming:
  members:
    - richardTowers
    - sengi
    - alexbakervr
    - lwilts
    - marcpomfret
    - theseanything
    - jibolaolu
    - fredericfrancois
    - rtrinque
    - smford
    - nsabri1

  channel:
    "#govuk-replatforming"

  exclude_titles:
    - "[DO NOT MERGE]"
    - WIP
    - "[WIP]"

govwifi:
  members:
    - koetsier
    - camdesgov
    - sarahseewhy
    - "seb-szy"
    - cbaines
    - szd55gds
    - jimnarey

  include_repos:
    - "govwifi-acceptance-tests"
    - "govwifi-admin"
    - "govwifi-authentication-api"
    - "govwifi-build"
    - "govwifi-builder-task"
    - "govwifi-concourse-deploy-pipeline"
    - "govwifi-concourse-runner"
    - "govwifi-dashboard"
    - "govwifi-database-backup"
    - "govwifi-dev-docs"
    - "govwifi-frontend"
    - "govwifi-logging-api"
    - "govwifi-product-page"
    - "govwifi-redirect"
    - "govwifi-safe-restarter"
    - "govwifi-shared-frontend"
    - "govwifi-smoke-tests"
    - "govwifi-tech-docs"
    - "govwifi-terraform"
    - "govwifi-user-signup-api"
    - "govwifi-watchdog"

  channel:
    "#govwifi-monitoring"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
    - "[PARKED]"
