# Please insert new items alphabetically.

find-and-view-tech:
  channel:
    "#find-and-view-tech"
  members:
    - "1pretz1"
    - AgaDufrat
    - andyhd
    - "chao-xian"
    - "chris-gds"
    - edwardkerry
    - hannako
    - hannalaakso
    - "jon-kirwan"
    - "KludgeKML"
    - kashifatcha
    - martinjjones
    - matthillco
    - maxgds
    - patrickpatrickpatrick
    - Tetrino
  compact: true
  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
  quotes:
    - "Be Excellent To Each Other!"
    - ":smiling-batman:"
    - "Don't be working if you're ill!"
    - ":green_heart:"

# fun-workstream-test-channel:
#   channel:
#     "#sealtesting"
#   quotes:
#     - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's okay to> test the seal! (No quotes)

fun-workstream-gds-community:
  channel:
    "#gds-community"
  quotes:
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> feel the way you feel
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> talk about how you're feeling
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> ask for feedback
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have days off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have off days
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> go outside during work
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> switch off at the end of the day
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> not constantly check chat and emails
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have screen breaks
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> say you're not comfortable with something
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> raise your concerns
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> be you
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> change your mind
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> say no
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have other things going on
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> forget things
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> not have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> turn off notifications
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> block time out to think and reflect
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> approach tasks your own way
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> work flexibly
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> turn your camera off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> take time off if you're not well
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> make mistakes
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> say you don't understand
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> ask for help
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> put yourself first
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> love what you do

fun-workstream-govuk:
  channel:
    "#govuk"
  quotes:
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> feel the way you feel
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> talk about how you're feeling
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> ask for feedback
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have days off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have off days
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> go outside during work
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> switch off at the end of the day
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> not constantly check chat and emails
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have screen breaks
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> say you're not comfortable with something
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> raise your concerns
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> be you
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> change your mind
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> say no
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have other things going on
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> forget things
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> not have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> turn off notifications
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> block time out to think and reflect
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> approach tasks your own way
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> work flexibly
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> turn your camera off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> take time off if you're not well
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> make mistakes
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> say you don't understand
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> ask for help
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> put yourself first
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/this-is-gds/its-ok-to|It's ok to> love what you do

govuk-green-team:
  channel:
    "#govuk-green-team"
  quotes:
    - "Remember to make time for personal development :big-brain:"
    - "Remember to make time for community and corporate objectives :handshake:"
    - "Remember to make time for wellbeing :happyseal:"
    - "Remember to celebrating maintaining content :celebrate:"
    - "Remember to fill out the <https://docs.google.com/spreadsheets/d/1MV7ASHzDj_FWxix2tCo_EpuBmK0uvuYPnwjijjGIp00/edit#gid=0|spreadsheet> if you're going into the office soon so your teammates can look out for you. :office:"
    - "Remember to add <https://docs.google.com/document/d/14L5FbIxpTEcjTXgA2deTAupr4y8n3JcIJixNSH5Czz0/edit|QOTDs> to the pinned list when you think of them"
    - "Remember to read or add entries to the monthly newsletter (pinned to the channel) and find out what the team has been doing lately! :newspaper:"
    - "Remember to <https://forms.gle/DdzRiptNuYQqA1Xn9|let me know> if there’s anything else I can help with or if you have any feedback. :mega:"

govuk-accounts:
  channel:
    "#govuk-accounts"

  quotes:
    - "We put users first. We strive to create services that bring real value to our users and that meet their needs and expectations."
    - "We believe users should feel safe and confident when they use our services."
    - "We design for everyone. We think about under-represented audiences from the start and check our biases throughout the design process."
    - "We’re comfortable challenging assumptions and asking difficult questions. We speak truth to power."
    - "We’re OK with change, failure, ambiguity, and adapting our approach."
    - "We work collaboratively. Our work does not happen in discipline silos and we value the contributions of every discipline equally."
    - "We treat each other with integrity, honesty and respect."
    - "We work in the open so users and government colleagues know what we’re doing and why."
    - "We know we can't do this alone. We need to work with teams across GDS and government to succeed."
    - "We invest time and effort in increasing our understanding of the problems we’re working on. This will help us make things better for users and move the conversation about personalisation in government forward."

govuk-accounts-tech:
  members:
    - alex9smith
    - danacotoran
    - huwd

  channel:
    "#govuk-accounts-tech"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

data-infrastructure:
  channel:
    "#data-infrastructure"
  members:
    - andyhd
    - DAVadgama
    - Nyzl
    - ollyroberts
    - "st-alice"
    - zilnhoj
  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
  use_labels: true
  exclude_labels:
    - "wip"
    - "WIP"
    - "ignore"

data-insights:
  channel:
    "#data-insights"
  members:
    - DMorrison1996
    - hwrightson
    - j-marvin-GDS
    - paulcronk
    - TMSGDS
  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
  use_labels: true
  exclude_labels:
    - "wip"
    - "WIP"
    - "ignore"

data-products:
  channel:
    "#data-products"
  members:
    - abdisalam101
    - amyrosecastiglione
    - exfalsoquodlibet
    - FelixReillyGDS
    - mammykins
    - maxf
    - nacnudus
    - rory-hurley-gds
    - "st-alice"
  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
  use_labels: true
  exclude_labels:
    - "wip"
    - "WIP"
    - "ignore"

govuk-datagovuk:
  members:
    - kentsanggds

  channel:
    "#govuk-datagovuk"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

govuk-forms:
  github_team: "forms-devs"

  channel:
    "#govuk-forms-tech"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

  compact: true

govuk-platform-reliability:
  members:
    - catalinailie
    - ChrisBAshton
    - deborahchua
    - MahmudH
    - MuriloDalRi
    - PeterHattyar
    - nicholsj
    - robinjam
    - rtrinque
    - sihugh

  channel:
    "#govuk-platform-reliability-team"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "WIP"

  quotes:
    - Be ready and willing to pair on work
    - Slack as primary point of contact; email for things you want to remember
    - Assume everyone is trying to do the right thing
    - Look out for each other
    - Make sure every meeting has a purpose and objective and explains who is required
    - Keep stand up updates as short as possible
    - Make sure anyone who wants to be involved in a decision has the opportunity to be
    - Try with each bit of work to upskill others
    - It's okay to spend some time understanding the thing(s) before implementing the solution
    - It's OK to pick up and work on something you don't understand yet

  compact: true

govuk-pay:
  members:
    - AbdirizakIdris
    - alanmaddrell
    - alan-gds
    - alexbishop1
    - antoniasimmons
    - Beth-Brown
    - heathd
    - iqbalgds
    - jabrahoarder
    - jfharden
    - "jonny-walkley"
    - katstevens
    - kaydale
    - kbottla
    - Nadia42
    - nlsteers
    - niaaudrina
    - oswaldquek
    - richblake
    - Rkotyank
    - SandorArpa
    - sfount
    - stephencdaly
    - "xander-gds"
    - sjzarb

  channel:
    "#govuk-pay-tech"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[DRAFT]"
    - WIP

govuk-publishing-experience:
  members:
    - baisa
    - beccapearce
    - benjamineskola
    - davidgisbey
    - davidtrussler
    - DilwoarH
    - jyoung-gds
    - ollietreend

  channel:
    "#govuk-publishing-experience-tech"

  exclude_title:
    - "[DO NOT MERGE]"
    - "WIP"
    - "[WIP]"

  compact: true

govuk-publishing-platform:
  members:
    - BeckaL
    - brucebolt
    - callumknights
    - JonathanHallam
  channel:
    "#govuk-publishing-platform"

  exclude_title:
    - "[DO NOT MERGE]"
    - "WIP"
    - "[WIP]"

  compact: true

govuk-replatforming:
  github_team: gov-uk-replatforming
  channel: "#govuk-replatforming"
  compact: true
  exclude_titles:
    - "[DNM]"
    - "[DO NOT MERGE]"
    - "[WIP]"
    - "WIP "
    - "WIP:"
  include_repos:
    - govuk-helm-charts
    - govuk-infrastructure
    - govuk-kubernetes-cluster-user-docs

govwifi:
  members:
    - koetsier
    - camdesgov
    - sarahseewhy
    - "seb-szy"
    - cbaines
    - szd55gds
    - jimnarey

  include_repos:
    - "govwifi-acceptance-tests"
    - "govwifi-admin"
    - "govwifi-authentication-api"
    - "govwifi-build"
    - "govwifi-builder-task"
    - "govwifi-concourse-deploy-pipeline"
    - "govwifi-concourse-runner"
    - "govwifi-dashboard"
    - "govwifi-database-backup"
    - "govwifi-dev-docs"
    - "govwifi-frontend"
    - "govwifi-logging-api"
    - "govwifi-product-page"
    - "govwifi-redirect"
    - "govwifi-safe-restarter"
    - "govwifi-shared-frontend"
    - "govwifi-smoke-tests"
    - "govwifi-tech-docs"
    - "govwifi-terraform"
    - "govwifi-user-signup-api"
    - "govwifi-watchdog"

  channel:
    "#govwifi-monitoring"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"
    - "[PARKED]"
