---
# To overwrite a specific section of common_properties, add the desired property with a new value after the '<<: *common_properties' line in the corresponding section

common_properties: &common_properties
  security_alerts: true
  morning_seal_quotes: false
  seal_prs: false
  afternoon_seal_quotes: false
  dependapanda: false
  exclude_labels:
    - WIP
    - ignore
  use_labels: true
  exclude_titles:
    - DO NOT MERGE
    - PROTOTYPE
    - WIP
    - DNM
    - DRAFT
    - PARKED
  quotes_days:
    - Monday
    - Tuesday
    - Wednesday
    - Thursday
    - Friday

ai-govuk:
  channel: '#dev-notifications-ai-govuk'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true
  morning_seal_quotes: true
  quotes:
    - Why was the chatbot always calm? Because it had a great CTRL over its emotions!
    - Why do programmers prefer dark mode? Because light attracts bugs!
    - Why did the AI break up with its algorithm partner? Because it couldn't find the right parameters for a meaningful relationship!
    - What's a computer's favourite snack? Microchips with a side of cookies!
  quotes_days:
    - Monday
    - Friday

govuk-patterns-and-pages:
  channel: '#govuk-patterns-and-pages'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true

data-engineering:
  channel: '#data-engineering'
  <<: *common_properties
  dependapanda: true

di-authentication:
  channel: '#di-authentication-notifications'
  <<: *common_properties
  seal_prs: true
  repos:
    - di-infrastructure

di-one-login-home:
  channel: "#di-one-login-home"
  quotes:
    - We put users first. We strive to create services that bring real value to our users and that meet their needs and expectations.
    - We believe users should feel safe and confident when they use our services.
    - We design for everyone. We think about under-represented audiences from the start and check our biases throughout the design process.
    - We’re comfortable challenging assumptions and asking difficult questions. We speak truth to power.
    - We’re OK with change, failure, ambiguity, and adapting our approach.
    - We work collaboratively. Our work does not happen in discipline silos and we value the contributions of every discipline equally.
    - We treat each other with integrity, honesty and respect.
    - We work in the open so users and government colleagues know what we’re doing and why.
    - We know we can't do this alone. We need to work with teams across GDS and government to succeed.
    - We invest time and effort in increasing our understanding of the problems we’re working on. This will help us make things better for users and move the conversation about personalisation in government forward.

di-one-login-home-tech:
  channel: "#di-one-login-home-tech"
  <<: *common_properties
  repos:
    - di-account-management-backend
    - di-account-management-frontend
    - di-accounts-infra
    - di-govuk-one-login-service-header
  security_alerts: false

fun-workstream-gds-community:
  channel: '#gds-community'
  morning_seal_quotes: true
  quotes:
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> feel the way you feel
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> talk about how you're feeling
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> ask for feedback
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have days off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have off days
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> go outside during work
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> switch off at the end of the day
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> not constantly check chat and emails
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have screen breaks
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> say you're not comfortable with something
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> raise your concerns
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> be you
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> change your mind
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> say no
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have other things going on
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> forget things
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> not have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> turn off notifications
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> block time out to think and reflect
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> approach tasks your own way
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> work flexibly
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> turn your camera off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> take time off if you're not well
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> make mistakes
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> say you don't understand
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> ask for help
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> put yourself first
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> love what you do
  quotes_days:
    - Monday
    - Wednesday
    - Friday

fun-workstream-govuk:
  channel: '#govuk'
  morning_seal_quotes: true
  quotes:
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> feel the way you feel
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> talk about how you're feeling
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> ask for feedback
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have days off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have off days
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> go outside during work
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> switch off at the end of the day
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> not constantly check chat and emails
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have screen breaks
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> say you're not comfortable with something
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> raise your concerns
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> be you
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> change your mind
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> say no
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have other things going on
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> forget things
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> not have a meeting
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> turn off notifications
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> block time out to think and reflect
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> approach tasks your own way
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> work flexibly
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> turn your camera off
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> take time off if you're not well
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> make mistakes
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> say you don't understand
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> ask for help
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> put yourself first
    - <https://sites.google.com/a/digital.cabinet-office.gov.uk/gds/welcome-to-gds/its-ok-to|It's ok to> love what you do
  quotes_days:
    - Monday
    - Wednesday
    - Friday

govuk-datagovuk:
  channel: '#govuk-datagovuk'
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govuk-developers:
  channel: '#govuk-developers'
  <<: *common_properties
  afternoon_seal_quotes: true
  dependapanda: true
  seal_prs: true
  quotes_days:
    - Wednesday
  quotes:
    - "Have you learnt something new this week? Or would you like to improve your presentation skills on a friendly bunch of devs? Why not add a talk to the next Tech Fortnightly <https://docs.google.com/document/d/1X-AberK3K4XzXxY6N4zzKZJY5t-bXfi5YX4SAcLpYtk|agenda>."
govuk-forms:
  channel: '#govuk-forms-tech'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true
  repos:
    - forms-admin
    - forms-e2e-tests
    - forms-runner
    - forms-product-page
    - govuk-forms-markdown
  security_alerts: false

govuk-green-team:
  channel: '#govuk-green-team'
  morning_seal_quotes: true
  quotes:
    - 'Remember to make time for personal development :big-brain:'
    - 'Remember to make time for community and corporate objectives :handshake:'
    - 'Remember to make time for wellbeing :happyseal:'
    - 'Remember to celebrating maintaining content :celebrate:'
    - "Remember to fill out the <https://docs.google.com/spreadsheets/d/1MV7ASHzDj_FWxix2tCo_EpuBmK0uvuYPnwjijjGIp00/edit#gid=0|spreadsheet> if you're going into the office soon so your teammates can look out for you. :office:"
    - 'Remember to add <https://docs.google.com/document/d/14L5FbIxpTEcjTXgA2deTAupr4y8n3JcIJixNSH5Czz0/edit|QOTDs> to the pinned list when you think of them'
    - "Remember to <https://forms.gle/DdzRiptNuYQqA1Xn9|let me know> if there’s anything else I can help with or if you have any feedback. :mega:"

govuk-pay:
  channel: '#govuk-pay-tech'
  seal_prs: true
  exclude_titles:
    - DO NOT MERGE
    - '[DRAFT]'
    - WIP
  repos:
    - cron-resource
    - gds-apple-developer-account-governance
    - paas-grafana-annotation-resource
    - pay-adot
    - pay-adminusers
    - pay-api-docs-generator
    - pay-architecture
    - pay-aws-compliance
    - pay-cardid
    - pay-ci
    - pay-code-analysis-config
    - pay-connector
    - pay-frontend
    - pay-java-commons
    - pay-java-lambdas
    - pay-js-commons
    - pay-js-metrics
    - pay-ledger
    - pay-logging-firehose-transformation
    - pay-logging-s3-to-firehose-delivery
    - pay-nginx-proxy
    - pay-notifications
    - pay-performance-reporter
    - pay-product-page
    - pay-products
    - pay-products-ui
    - pay-publicapi
    - pay-publicauth
    - pay-run-amock
    - pay-selfservice
    - pay-set-up-pre-commit
    - pay-smoke-tests
    - pay-stream-s3-sqs
    - pay-tech-docs
    - pay-toolbox
    - pay-webhooks
    - pkl-concourse-pipeline
    - pool-resource

govuk-platform-engineering:
  channel: '#govuk-platform-support'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govuk-publishing-components:
  channel: '#govuk-publishing-components'
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govuk-search:
  channel: '#govuk-search'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govuk-whitehall-experience-tech:
  channel: '#govuk-whitehall-experience-tech'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govuk-publishing-mainstream-experience-tech:
  channel: '#govuk-publishing-mainstream-experience-tech'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govuk-publishing-platform:
  channel: '#govuk-publishing-platform-system-alerts'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true

govwifi:
  channel: '#govwifi-monitoring'
  seal_prs: true
  exclude_titles:
    - DO NOT MERGE
    - PROTOTYPE
    - WIP
    - PARKED
  repos:
    - govwifi-acceptance-tests
    - govwifi-admin
    - govwifi-authentication-api
    - govwifi-builder-task
    - govwifi-concourse-deploy-pipeline
    - govwifi-concourse-runner
    - govwifi-dashboard
    - govwifi-database-backup
    - govwifi-dev-docs
    - govwifi-frontend
    - govwifi-logging-api
    - govwifi-product-page
    - govwifi-redirect
    - govwifi-safe-restarter
    - govwifi-shared-frontend
    - govwifi-smoke-tests
    - govwifi-tech-docs
    - govwifi-terraform
    - govwifi-user-signup-api
    - govwifi-watchdog

govuk-navigation-tech:
  channel: '#govuk-navigation-tech'
  compact: true
  <<: *common_properties
  dependapanda: true
  seal_prs: true
  morning_seal_quotes: true
  quotes:
    - Be Excellent To Each Other!
    - Don't be working if you're ill!
    - Is your work waiting to be reviewed? Make sure to ask someone.
    - Did you learn something cool recently? Share it with your fellow devs!

proj-early-talent-assigned-learning:
  channel: '#proj-early-talent-assigned-learning'
  <<: *common_properties
  quotes_days:
    - Friday
  quotes:
    - Did you learn something cool recently? Share it with your fellow devs!
    - Be Excellent To Each Other!
    - Assume everyone is trying to do the right thing
    - Look out for each other
    - Try with each bit of work to upskill others
    - We treat each other with integrity, honesty and respect.
    - We invest time and effort in increasing our understanding of the problems we’re working on. This will help us make things better for users.
    - Remember our user needs!
    - It's OK to ask for help
  repos:
    - early-talent-assigned-learning-time
    - learningtime-ad-sem1-postcode-geocoder
    - learningtime-jy-sem1
    - learningtime-rk-sem1
    - learning-time-RA-sem1
    - learningtime-ka-sem1
    - learningtime-jr-sem1
    - learningtime-ph-sem1
    - learningtime-dm-sem1-darkmode
    - learningtime-hh-sem1-gov-location-service
    - learningtime-an-sem
  security_alerts: false
