# Please insert new items alphabetically.
design-system-dev:
  members:
    - 36degrees
    - amyhupe
    - dashouse
    - hannalaakso
    - nickcolley
    - timpaul

  channel:
    "#design-system-dev"

  exclude_titles:
    - DO NOT MERGE
    - WIP

digitalmarketplace:
  members:
    - benvand
    - lfdebrux
    - risicle
    - agalamatis
    - katstevens
    - aliuk2012

  channel:
    "#dm-review"

  exclude_titles:
    - WIP

  include_repos:
    - "digitalmarketplace-admin-frontend"
    - "digitalmarketplace-agreements"
    - "digitalmarketplace-antivirus-api"
    - "digitalmarketplace-api"
    - "digitalmarketplace-apiclient"
    - "digitalmarketplace-aws"
    - "digitalmarketplace-bad-words"
    - "digitalmarketplace-brief-responses-frontend"
    - "digitalmarketplace-briefs-frontend"
    - "digitalmarketplace-buyer-frontend"
    - "digitalmarketplace-content-loader"
    - "digitalmarketplace-credentials"
    - "digitalmarketplace-design-patterns"
    - "digitalmarketplace-docker-base"
    - "digitalmarketplace-frameworks"
    - "digitalmarketplace-frontend-toolkit"
    - "digitalmarketplace-functional-tests"
    - "digitalmarketplace-govuk-frontend"
    - "digitalmarketplace-jenkins"
    - "digitalmarketplace-logdia"
    - "digitalmarketplace-manual"
    - "digitalmarketplace-performance-testing"
    - "digitalmarketplace-router"
    - "digitalmarketplace-runner"
    - "digitalmarketplace-scripts"
    - "digitalmarketplace-search-api"
    - "digitalmarketplace-supplier-frontend"
    - "digitalmarketplace-test-utils"
    - "digitalmarketplace-user-frontend"
    - "digitalmarketplace-utils"
    - "digitalmarketplace-visual-regression"
    - "govuk-frontend-jinja"

  compact: false

govuk-data-labs:
  members:
    - karlbaker02
    - oscarwyatt
    - ff-l

  channel:
    "#govuk-data-labs"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

govuk-frontend-a11y:
  members:
    - chao-xian
    - vanitabarrett
    - injms
    - maxgds

  channel:
    "#govuk-frontend-a11y"

  compact: true

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

  quotes:
    - "Be Excellent To Each Other!"
    - ":smiling-batman:"
    - "Don't be working if you're ill!"

govuk-searchandnav:
  members:
    - barrucadu
    - bilbof
    - hannako
    - kr8n3r
    - laurentqro
    - SamJamCul
    - sihugh
    - Tetrino

  channel:
    "#govuk-searchandnav"

  compact: true

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

govuk-licensing:
  members:
    - PeteLeaman
    - SomniGiggles
    - steven-radford
    - chrispapto

  channel:
    "#govuk-licensing"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[WIP]"

govuk-platform-health:
  members:
    - AlanGabbianelli
    - bevanloon
    - callumknights
    - cbaines
    - deborahchua
    - edwardkerry
    - issyl0
    - kentsanggds
    - MahmudH
    - MuriloDalRi
    - nicholsj
    - thomasleese

  channel:
    "#govuk-platform-health"

  exclude_titles:
    - "[DO NOT MERGE]"
    - "WIP"

  quotes:
    - Be ready and willing to pair on work
    - Support remote working as a default
    - Stay home if you're sick and don't pressure yourself to work from home
    - Slack as primary point of contact; email for things you want to remember
    - Assume everyone is trying to do the right thing
    - Look out for each other
    - Make sure every meeting has a purpose and objective and explains who is required
    - Keep stand up updates as short as possible
    - Make sure anyone who wants to be involved in a decision has the opportunity to be
    - Try with each bit of work to upskill others
    - It's okay to spend some time understanding the thing(s) before implementing the solution
    - It's OK to pick up and work on something you don't understand yet

  compact: true

govuk-pay:
  members:
    - heathd
    - alexbishop1
    - cobainc0
    - danworth
    - heathd
    - jonheslop
    - kbottla
    - mrlumbu
    - oswaldquek
    - SandorArpa
    - stephencdaly
    - jankowiakmaria
    - sfount
    - RoryMalcolm

  channel:
    "#govuk-pay-tech"

  exclude_titles:
    - "[DO NOT MERGE]"
    - WIP

govuk-pub-workflow:
  members:
    - 1pretz1
    - AgaDufrat
    - alex-ju
    - brucebolt
    - ChrisBAshton
    - JonathanHallam
    - kevindew
    - leenagupte

  channel:
    "#govuk-pubworkflow-dev"

  compact: true

  exclude_titles:
    - "[DO NOT MERGE]"
    - "[PROTOTYPE]"
    - WIP
    - "[WIP]"

  exclude_repos:
    - "gds-way"
